@mixin header--line($color) {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

  &:after, &:before {
    content: '';
    display: inline-block;
    height: .07em;
    width: auto;
    background: $color;
    flex: 1;
  }
  &:before {
  	margin-right: 1em;
  	margin-right: 1.2rem;
  }
  &:after {
  	margin-left: 1em;
  	margin-left: 1.2rem;
  }
}

.header--line {
	@include header--line(gray);
	color: gray;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 2.5em;
	margin-bottom: 1em;
}