// Global
$base-font-size: 14px;
$base-line-height: 1.8em;
$container-max-width: 50em;

// Colors
$primary-color: #253c5b;
$color-primary: #253c5b;
$color-secondary: #F16576;
$secondary-color: $color-secondary;

// Materialize
$navbar-height: 76px;
$navbar-height-mobile: 60px;
$navbar-brand-font-size: 3rem;