<div class="banner clearfix">
  <div class="slickheader slickheader--overlay">
    <div class="container branding">
      <h1 class="branding__title">Allegheny Innovation Capital Fund</h1>
      <span class="branding__divider"></span>
      <div class="branding__subtitle">
        Generate Great Returns
        <span class="branding__subtitle-divider"></span>
        Invest in Our Communities
      </div>
    </div>
    <div class="slickheader__imgcontainer">
      <img class="slickheader__img" src="images/fund-banner.jpg">
    </div>
  </div> <!-- Slickheader -->

  <div class="slickheader slickheader--title-line">
    <div class="container">
      <h1 class="slickheader__title">
        Welcome to the Allegheny Innovation Capital Fund
      </h1>
      <div class="slickheader__body">
        <p>Lorem ipsum Ullamco Excepteur exercitation anim qui consequat Duis Ut magna est cillum amet labore Ut minim ullamco mollit sit proident irure proident veniam elit irure pariatur non commodo amet est fugiat in elit.</p>
      </div>
    </div>
  </div>

  <div class="slick-card__group row">
    <div class="container">
      <div class="col s12 l4">
        <div class="slick-card">
          <div class="slick-card__icon">
            <i class="material-icons">people</i>
          </div>
          <div class="slick-card__title">Who We Are</div>
          <div class="slick-card__content">Lorem ipsum In occaecat officia in cupidatat fugiat magna voluptate pariatur dolore commodo nisi sed nisi magna occaecat reprehenderit ut.</div>
          <div class="slick-card__readmore">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col s12 l4">
        <div class="slick-card">
          <div class="slick-card__icon">
            <i class="material-icons">&#xE922;</i>
          </div>
          <div class="slick-card__title">Our History</div>
          <div class="slick-card__content">Lorem ipsum In occaecat officia in cupidatat fugiat magna voluptate pariatur dolore commodo nisi sed nisi magna occaecat reprehenderit ut.</div>
          <div class="slick-card__readmore">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="col s12 l4">
        <div class="slick-card">
          <div class="slick-card__icon">
            <i class="material-icons">&#xE87B;</i>
          </div>
          <div class="slick-card__title">What we do</div>
          <div class="slick-card__content">Lorem ipsum In occaecat officia in cupidatat fugiat magna voluptate pariatur dolore commodo nisi sed nisi magna occaecat reprehenderit ut.</div>
          <div class="slick-card__readmore">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Slickcard Group -->
</div> <!-- Banner -->

<main class="main clearfix">
  <div class="container">
    <h2 class="header header--line">Allegheny Entrepreneurship Echosystem</h2>
    <div class="responsive-iframe">
      <iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="https://prezi.com/embed/g8jpdwdcytan/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI0OUFsR2xIV0s3aXNNaVc4S1BMUmpEWEJnPT0&amp;landing_sign=_qWvU8BOTIzPmIfvPuQFd18Fmq3q__omPfNphpGYFc0"></iframe>
    </div>

    <h2 class="header header--line">Press Release</h2>
    <article class="teaser teaser--press">
      <h3 class="teaser__title">Title Here</h3>
      <div class="teaser__content">
        <div class="teaser__summary">
          <p>Lorem ipsum Dolor eiusmod cillum veniam dolore do in anim proident officia commodo tempor eiusmod Duis eu exercitation minim velit sint mollit Ut non ea aute quis.</p>
        </div>
        <div class="teaser__link">
          <a class="waves-effect waves-light btn">Read More</a>
        </div>
      </div>
      <div class="teaser__image">
        <img src="http://unsplash.it/600/400">
      </div>
    </article>
  </div>
</main>
{{outlet}}